<!-- <h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{totalCount}}</span></div>
   <div>Space Debris: <span>{{calculateTotalTypes(satellites, "Space Debris")}}</span></div>
   <div>Communication: <span>{{1}}</span></div>
   <div>Probe: <span>{{totalProbe}}</span></div>
   <div>Positioning: <span>{{calculateTotalTypes(satellites, 'Positioning')}}</span></div>
   <div>Space Station: <span>{{totalSpaceStation}}</span></div>
   <div>Telescope: <span>{{totalTelescope}}</span></div>
</div> -->
